<div id="aviso">    
    Essa é uma notícia fictícia gerada pelo site <a href="/">Virou Manchete</a> e de maneira alguma expressa a opinião do site parodiado.    
    <a id="compartilhar" href="javascript:void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri', 'pop', 'status = 1, height = 360, width = 700, resizable = 0'); return false;" title="Compartilhe essa notícia com seus amigos" target="_blank">compartilhar no facebook</a>        
</div>
<style type="text/css">
    #aviso   { padding:5px; background:#597386; border-top:1px solid #ccc; font-size:11px; color:#FFF; position:fixed; bottom:0; left:0px; display:block; text-align:center; width:100%; }
    #aviso a { color:#FFF; font-size:11px; }
    #compartilhar { font-size:15px !important; text-decoration:none; color:#fff; width:180px; background: url("/content/img/compartilhar.png") 3px center no-repeat;  padding:3px; padding-left:25px; margin:auto; margin-bottom:5px; margin-left:100px; }
</style>